<header>
  <h1>Proyecto: Registro, Login y Chat</h1>
</header>
<nav>
  <a routerLink="/inicio" routerLinkActive="active">INICIO</a>
  <a routerLink="/chat" routerLinkActive="active">CHAT</a>
  <a routerLink="/login" routerLinkActive="active">LOGIN</a>
  <a routerLink="/registro" routerLinkActive="active">REGISTRO</a>
  <a routerLink="/historial" routerLinkActive="active">HISTORIAL</a>
</nav>

<main class="container">
  <section id="descripcion">
    <h2>Descripción del Proyecto</h2>
    <p>
      Este proyecto tiene como objetivo ofrecer un sistema de registro y login
      para los usuarios. Además, cuenta con un sistema de chat dividido en
      grupos de trabajo. Los usuarios podrán enviar mensajes que se guardarán
      diariamente y se podrán consultar según el día deseado a través de un
      calendario. Estos mensajes pueden contener códigos e incluso archivos
      adjuntos.
    </p>
  </section>

  <footer>
    <p>© 2023 Proyecto grupo 4</p>
  </footer>
</main>
