<h1>Historial</h1>

<h5>Seleccione la sala</h5>

<p-dropdown
  [(ngModel)]="salaSeleccionada"
  [options]="salas"
  placeholder="Seleccione la sala"
  (onChange)="getHistorialChat()"
/>

<div class="p-col-2">
  <button
    pButton
    type="button"
    icon="pi pi-chat"
    class="p-button-info p-text-right"
    (click)="chat()"
  >
    Chat
  </button>
</div>

<ng-container *ngFor="let mensaje of historial">
  <p-card [header]="mensaje.nombre">
    {{ mensaje.id }} - {{ mensaje.texto }} -
    {{ mensaje.fechaMensaje | date : "short" }} - {{ mensaje.rol }}
  </p-card>
</ng-container>
